{% extends 'base.html' %}

{% block content %}
<center>
    {% if no_rdv_message %}
    <h3>Bonjour,</h3>
    <p>{{ no_rdv_message }}</p>
    {% if show_button %}
        <a href="{% url 'rdv_new'%}" class="btn btn-primary">Ajouter un rendez-vous</a>
    {% endif %}
    {% else %}
    <h1>Votre rendez-vous</h1>
    <table class="table">
        <tr>
            <th>Date et Heure du Rdv</th>
            <th>Numéro du Rdv</th>
            <th>Supprimer</th>
        </tr>
        {% for rdv in object_list %}
        <tr>
            <td>{{ rdv.date }}</td>
            <td>Vous êtes à la position {{ rdv.num_rdv }} dans la journée.</td>
            
            <td>
                <a href="{% url 'rdv_delete' rdv.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p style="color: red; margin-top: 15px;">
        Si vous souhaitez modifier ou ajouter un rendez-vous, supprimez le rendez-vous existant et suivez les instructions pour en créer un nouveau.
    </p>
    {% endif %}
</center>
{% endblock %}
